body{
    direction:rtl ;
    color: #3e3e3e;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #fdf2e9, #f4c95d, #d77a61);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    font-family: 'Arial', sans-serif;

}

.login-box{
    border: 5px solid rgb(220, 210, 210);
    border-radius: 3.5rem;
    display: flex;
    width: 15%;
    flex-flow: column;
    align-items: center;
    background-color: rgb(253, 253, 253);
    top: 15%;
    right: 40%;
    position:absolute ;
    padding: 1.75rem;
}

h1{
    display: block;
    color: #d77a61;
}

#email{
    margin: 0;
    display: block;
    margin: 1rem 0 ;
    border-radius: 1.75rem ;
    padding: 1rem;
    width: 12rem ;

}

#password{
    padding: 1rem;
    border-radius: 1.75rem;
    display: block;
    margin: 1rem 0;
    width: 12rem;
}
a{
    text-decoration: none;
    margin: 0.5rem 0.5rem  ;

}
.login-button{
    padding: 1rem;
    display: block;
    border-radius: 1.75rem;
    background: linear-gradient(135deg, #fdf2e9, #f4c95d, #d77a61);
    animation: gradientAnimation 10s ease infinite;
    color: black;
    margin: 0.75rem 0;
    box-shadow: 0.5rem 0.7rem 1rem -0.3rem  black;
    border: 0.3rem solid aliceblue ;
    width: 12rem ;
    box-sizing: content-box;
    font-size: 1rem ;
    color: white;
}
.icon{
    padding: 10px ;
    margin-left:0.5rem ;
    justify-content: center;
    align-items: center;
    display: inline-block;
    border-radius:100% ;
    color: aliceblue;
    background: linear-gradient(135deg, #fdf2e9, #f4c95d, #d77a61);
    animation: gradientAnimation 10s ease infinite;
    cursor: pointer;
    box-shadow: 0.5rem 0.7rem 1rem -0.3rem  black;
    border: 0.3rem solid aliceblue ;

}
.or-login-with{
    display: flex;
    font-size: 1.25rem;
    opacity: 0.5;
    padding: 1rem ;
    margin: 0.7rem 0 0 0 ;
    justify-content: center;
}
.icon-div{
display: flex;
justify-content: center;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }

}
