@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Darumadrop+One&family=Funnel+Display:wght@300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Reem+Kufi+Ink&family=Reem+Kufi:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    text-align: center;
 }
 body {
    background: white;
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    color: #000000;
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem;
    }
    
    html {
    scroll-behavior: smooth;
    }
    
     header {
        background-color: #291305;
        color: white;
        padding: 1.5em 0;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     }
     nav {
      background: rgb(255, 239, 239);
      padding: 1em;
  }
  
  nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
  }
  
  nav ul li a {
      color: rgb(26, 24, 24);
      text-decoration: none;
      font-size: 1.3em;
      transition: all 0.3s linear;
  }
  
  nav ul li a:hover {
      background-color: #7B6B43;
      color: white;
      padding: 0.5em;
      border-radius: 5px;
  } 
  .myfont{
    font-family: "Reem Kufi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
  }
 h1 {
    font-size: 2.5em;
    margin: 1em 0;
 }
  .tooltip .tooltiptext {
   visibility: hidden;
   opacity: 0;
   width: 120px;
   background-color: #fff;
   color: #333;
   text-align: center;
   padding: 5px 8px;
   border-radius: 6px;
   
  
   position: absolute;
   top: 50%; 
   right: 10px;
   transform: translateX(-50%);
   z-index: 1;
   
  
   transition: opacity 0.3s;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }
 .container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.scroll-table {
    max-height: 400px; /* ارتفاع ثابت مع التمرير */
    overflow-y: auto;
    border: 2px solid #f4c95d;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background: #f4c95d;
    color: #333;
}

tr:nth-child(even) {
    background: #fdf2e9;
}
 footer {
    background:#f3efef;
    color: rgb(12, 12, 12);
    padding: 1.2em;
    margin-top: 20px;
     margin-bottom:0px;
 }
 .background-video {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
object-fit: cover;
z-index: -1;
}
