@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Darumadrop+One&family=Funnel+Display:wght@300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Reem+Kufi+Ink&family=Reem+Kufi:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(image/ramadan.jpg);
    background-size: 300% 300%;
    /* animation: gradientAnimation 10s ease infinite; */
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-size: 25px;

}
.myfont{
  font-family: "Reem Kufi", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 1.1rem;
}
header {
  background-color: #291305;
  color: white;
  padding: 1.5em 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
nav {
  background: rgb(255, 239, 239);
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav ul li a {
  color: rgb(26, 24, 24);
  text-decoration: none;
  font-size: 1.3em;
  transition: all 0.3s linear;
}

nav ul li a:hover {
  background-color: #7B6B43;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
} 

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    perspective: 1000px; /* Adds 3D effect */
}

.section {
    position: absolute;
    width: 80%;
    height: 70%;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
   
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    backface-visibility: hidden; /* Hide back during flip */
    transform: rotateY(180deg);
    transition: transform 0.6s ease-in-out;
  
}

.active {
    opacity: 1;
    transform: translateX(0);
}



button {
  
  --glow-color:rgb(176, 252, 255);
    --glow-spread-color:rgba(123, 251, 255, 0.781);
    --enhanced-glow-color: rgb(206, 255, 255);
    --btn-color: rgb(61, 127, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
  transition: all 0.3s;

 }
 
 button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }
#prev {
    left: 10px;
}

#next {
    right: 10px;
}
.section1{
  text-align: right;
  margin-top: 20px;
}
.hades1{
  text-align: center;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}
.video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left; /* or right/left if you prefer */
}

.video-container {
  width: 80%;
  max-width: 400px; /* Limit the maximum width */
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0 4px 10px rgb(106, 227, 243);;
}
.video-element {
  width: 100%;
  height: auto;
  display: block;
}
